@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

/* Shared items */

* {
    font-family: 'Work Sans', sans-serif;
}

.prime-button {
    background-color: #FF900E;
    border: none;
    padding: 20px 24px;
    border-radius: 5px;
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

/* Header styles */

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.common-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
}

nav ul a {
    color: #424242;
    text-decoration: none;
}

.banner {
    margin: 0px auto 50px auto;
    text-align: center;
    max-width: 800px;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.banner-img {
    width: 100%;
}

/* Main section */

main {
    max-width: 1440px;
    margin: 0px auto;
    padding-top: 80px;
}

.container1 {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.img-container>img {
    margin-bottom: 10px;
}

.feature {
    text-align: left;
}

.quick-feature-title {
    color: #727272;
    font-size: 3rem;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

.h3-features {
    color: #FF900E;
    font-size: 3rem;
    font-weight: 700;
}

.quick-feature-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.container2 {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 140px;
    margin-top: 130px;
}

.feature-description-part div {
    margin-bottom: 20px;
}

.feature-description-title {
    color: var(--Dark-01, #131313);
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-title {
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
}

.common-description {
    color: #727272;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6rem;
}

.special-button-font {
    color: #FFF;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.2rem;
}

.different-features {
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.architecture-bedi {
    width: 100%;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.cards {
    margin: 20px auto;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 40px 50px;
    text-align: center;
}

.heading {
    color: #424242;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 2px;
}

.accomplishment {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
}

.sponsor {
    text-align: center;
}

.sponsor-img-container {
    margin-top: 50px;
    margin: 100px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.footer {
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    background: #FFF4E7;
    margin: 130px 240px;
}

/* id styles */

#special-button {
    position: relative;
    top: -130px;
    left: -100px;
    width: 340px;
    height: 200px;
}

#facts-title {
    margin-bottom: 0px;
}

#facts-description {
    margin-top: 25px;
    max-width: 540px;
}

.hide {
    display: none;
}

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    .sponsor-img-container,
    .facts-card-container,
    nav {
        flex-direction: column;
    }

    .container1 {
        grid-template-columns: 100%;
    }

    .feature {
        padding: 20px;
        text-align: center;
    }

    .img-container {
        grid-template-columns: 100%;
        margin: 0px auto;
    }

    .container2 {
        grid-template-columns: 100%;
        gap: 50px;
    }

    .facts,
    .feature-description-part {
        padding: 20px;
    }

    #special-button {
        position: static;
        margin-top: 20px;
        width: 180px;
        height: 90px;
    }

    .special-button-font {
        color: #FFF;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: normal;
    }

    .feature-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .footer {
        margin: 50px 10px;
    }
}


@media screen and (min-width:576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    .container1 {
        grid-template-columns: 100%;
    }

    .feature {
        padding: 50px;
        text-align: center;
    }

    .img-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin: 0px auto 10px auto;
    }

    .container2 {
        grid-template-columns: 100%;
        padding: 50px;
    }

    #special-button {
        position: static;
        margin-top: 20px;
        width: 180px;
        height: 90px;
    }

    .special-button-font {
        color: #FFF;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: normal;
    }

    .feature-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .facts-card-container {
        flex-direction: column;
    }

    .sponsor-img-container {
        flex-direction: column;
        align-items: center;
    }

    .shadakala {
        width: 167px;
        height: 50px;
    }
    .footer {
        text-align: center;
        padding: 15px;
        border-radius: 8px;
        background: #FFF4E7;
        margin: 130px 240px;
    }
    .footer {
        margin: 130px 50px;
    }
}